body {
    background-color: #f8f9fa; /* Цвет фона страницы */
    display: flex;
    flex-direction: column; /* Расположение элементов в столбец */
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    margin-top: 20px; /* Добавляет отступ сверху */
}